<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plotly Graph</title>
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>


</head>
<body>
{% load static %}
<script src="{% static 'graph_script/scatter.js' %}" type="text/javascript"></script>
<nav class="navbar-dark bg-dark">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h2 class="navbar-brand">📊 Plotly Graph</h2>
        </li>
    </ul>
</nav>
<br>
<div id="div_refresh"></div>
<br>
<center>
    <a href="\">
        <button class="btn btn-dark"> Click Here For Go to Home Page</button>
    </a>
    <a href="\load">
        <button class="btn btn-dark">Click Here For Check the load Page</button>
    </a>
</center>
<br>
<nav class="navbar-dark bg-dark">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h2 class="navbar-brand">📊 Values Update Automatically From Load Page in Every 2 Secound</h2>
        </li>
    </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>

