<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plotly Graph</title>
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<nav class="navbar-dark bg-dark">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h2 class="navbar-brand">📊 Plotly Graph</h2>
        </li>
    </ul>
</nav>
<br>
<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
<script>
var trace1 = {
  x: {{x1}},
  y: {{y1}},
  type: 'scatter',
  name: 'Trace-1'
};
var trace2 = {
  x: {{x2}},
  y: {{y2}},
  type: 'scatter',
  name: 'Trace-2'
};
var data = [trace1, trace2];

var layout = {
  title: 'Plotly Basic Graph'
};
Plotly.newPlot('myDiv', data, layout);
</script>
<br>
<center>
    <a href="ajax"><button class="btn btn-dark">Click Here For Go to Ajax Page</button></a>
</center>
<br>

<nav class="navbar-dark bg-dark">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h2 class="navbar-brand">📊 Refresh Page For Random Value</h2>
        </li>
    </ul>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>

